pyttsx3==2.71
pynput==1.7.3
pyautogui==0.9.53
wikipedia==1.4.0
opencv-python==4.5.3.56
mediapipe==0.8.6.2
comtypes==1.1.10
pycaw==20181226
eel==0.14.0
pygame
pyjokes
boto3
pywhatkit
Pillow
wikipedia
bs4
geocoder
geopy
pymongo
getmac
face_recognition
datetime
selenium
webdriver_manager
azure.cognitiveservices.speech
wave
playsound